$Russian-Violet: rgb(58, 1, 92);
$Plalatinate-Purple: rgb(101, 1, 91);
$Tyrian-Purple: rgb(80, 2, 67);
$Dark-Purple: rgb(61, 0, 55);
$Xiketic: rgb(17, 0, 28);
$Lilac: rgb(193, 154, 183);
$Blue-Bell:rgb(156, 149, 220);